<div class="filter">
    <div class="fr">
        <div class="col order">
            <div class="input-field inline order-position-input">
                <input type="number" id="number" min="1" [(ngModel)]="order">
                <label for="number" class="fz12">Номер замовлення</label>
            </div>
        </div>
        <div class="col filter-pickers">
            <div class="input-field">
                <input type="text" #start>
                <label class="fz12">Початок</label>
            </div>

            <div class="input-field">
                <input type="text" #end>
                <label class="fz12">Кінець</label>
            </div>
        </div>
    </div>

    <button class="btn waves-effect wavers-light btn-small" [disabled]="!isValid" (click)="submitFilter()">Застосувати фільтр</button>
</div>
